*.mod
*.o
mod_run
output
basic_run
fort.*
gscript
*dSYM
*pyc
*pycache*
input
testing_environment
target_images
target_html_table_generator
target_images-working
*.orig
*.sw?
pretty_picture
test2.txt
get_fit_and_process
sdssid.txt
temp.txt
