astropy==3.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
d2to1==0.2.12.post1
idna==2.6
imageio==2.2.0
lxml==4.1.1
matplotlib==2.1.2
numpy==1.14.0
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
stsci.distutils==0.3.7
stsci.tools==3.4.11
urllib3==1.22
